<app-topheader></app-topheader>
<app-header></app-header>

<!-- -------------------------------------------------------------------------------------------- -->

<section id="ocr1">
  <div>
    <h1>OUR COURSES</h1>
  </div>
  
  
  <div>
    <svg viewBox="0 0 3387 1270">
      <path id="planePath" class="planePath" d="M-226 626c439,4 636,-213 934,-225 755,-31 602,769 1334,658 562,-86 668,-698 266,-908 -401,-210 -893,189 -632,630 260,441 747,121 1051,91 360,-36 889,179 889,179"/>
      
      <g id="plane">
        <polygon class="fil1" points="-141,-10 199,0 -198,-72 -188,-61 -171,-57 -184,-57 "/>
        <polygon class="fil2" points="199,0 -141,-10 -163,63 -123,9 "/>
        <polygon class="fil3" points="-95,39 -113,32 -123,9 -163,63 -105,53 -108,45 -87,48 -90,45 -103,41 -94,41 "/>
        <path class="fil4" d="M-87 48l-21 -3 3 8 19 -4 -1 -1zm-26 -16l18 7 -2 -1 32 -7 -29 1 11 -4 -24 -1 -16 -18 10 23zm10 9l13 4 -4 -4 -9 0z"/>
        <polygon class="fil1" points="-83,28 -94,32 -65,31 -97,38 -86,49 -67,70 199,0 -123,9 -107,27 "/>
      </g>
      <!-- Define the motion path animation -->
      <animateMotion 
      xlink:href="#plane"
      dur="9s" 
      repeatCount="indefinite" 
      rotate="auto">
      <mpath xlink:href="#planePath" />
    </animateMotion >
  </svg>
</div>

<!-- <div class="ab">
  <h1>ABOUT US</h1>
</div> -->

</section>

<!-- ------------------------------------ocr main----------------------------------------------- -->


<section class="ocm">
  
  
  <div class="ocmh">
    <div class="ocmh1">
      <h2>COURSE</h2>
    </div>
    <div class="ocmh2">
      <h2>DETAILS</h2>
    </div>
  </div>
  
  <div class="accordion">
    <ul>
      <li tabindex="1">
        <div>
          <div class="btn">
            
            <div class="cc">
              <h4>ADA</h4>
            </div>
            
            <!-- <div class="number">
              <i class='fas fa-laptop' style='font-size:24px'></i>
            </div> -->
            <div class="content">
              <h2>ADVANCE DIPLOMA IN AVIATION</h2>
              
              
              
              
              <p> Diploma in Aviation is a full time diploma level course for a duration of 6 Months- 1 Year
              </p>
              <!-- <p>that deals 
                with the management of airports and aviation.The minimum eligibility for pursuing 
              </p> -->
              <p>a diploma in 
                aviation is 10+2 or equivalent from a recognized board. The admission to the course 
              </p>
              <p> 
                is done on 
                the basis of score in 10+2, followed by a personal interview.
                Diploma in Aviation is
              </p>
              
              
              <p>
                available to the candidates after a 
                Diploma in Aviation are Aircraft dispatcher, air station manager,
              </p>
              <p> 
                cabin crew, Airline 
                executive/manager, Air Traffic control officer etc.
                
              </p>
              <p> The average salary offered to professional ranges between INR 3 to INR 6 LPA. Some
              </p>
              <p> of the top 
                recruiting companies are Etihad, Emirates, Vistara, Indigo etc
              </p>
              
              
            </div>
          </div>
        </div>
      </li>
      <li tabindex="2">
        <div>
          <div class="btn">
            <div class="cc">
              <h4>ADL</h4>
            </div>
            <!-- <div class="number"><i class='fas fa-shield-alt' style='font-size:24px'></i></div> -->
            <div class="content">
              <h2>ADVANCE DIPLOMA IN LOGISTICS</h2>
              
              <p> Our Logistics & Supply Chain programmes will give you special insight into international trade
              </p>
              <p>and 
                logistics management, groom you to be an in-demand professional in supply chain management
              </p>
              <p>The program is designed to provide learners with fundamental to the in-depth development of 
              </p>
              <p> 
                knowledge needed for a career in logistics and supply chain management This degree
              </p>
              <p> can train 
                students in engineering, electronics, flying aircraft, managing air traffic,It gives 
              </p>
              <p>an overview of the fundamentals of logistics, supply chain management and transportation
              </p>
              <!-- <p> of the 
                aviation industry, including pilots, air traffic control, airport and airline management, </p>
                <p>Students will be studying Business Statistics, Management Principles, Business Microeconomics, 
                  Transport Management, etc.
                  
                </p> -->
              </div>
            </div>
          </div>
        </li>
        
        
        <li tabindex="3">
          <div>
            <div class="btn">
              <div class="cc">
                <h4>BIA</h4>
              </div>
              <!-- <div class="number"><i class='fas fa-theater-masks' style='font-size:24px'></i></div>           -->
              <div class="content">
                <h2>BBA IN AVIATION</h2>
                
                
                <p>The Bachelor of Aviation is a bachelor's degree for studies within the aviation industry.
                </p>
                <p>The courses take an average of three years to complete, with the most highly sought 
                  course
                </p>
                <p>being a BBA Aviation. 
                  To candidates interested to pursue BBA in Aviation must have completed their 10+2 from
                </p>
                <p> 
                  a recognised college. 
                  Students that study this degree pursue jobs in the aviation industry.
                </p>
                <p>This degree can train 
                  students in engineering, electronics, flying aircraft, managing air traffic,
                </p>
                <p> aircraft 
                  maintenance, aviation business, and more. Careers are available in all fields
                </p>
                <p> of the 
                  aviation industry, including pilots, air traffic control, airport and airline management, </p>
                  <p> aircraft dispatching, aircraft maintenance, and more.
                    
                  </p>
                  
                  
                  
                </div>
              </div>
            </div>
          </li>
          
          <li tabindex="4">
            <div>
              <div class="btn">
                <div class="cc">
                  <h4>BIL</h4>
                </div>
                <!-- <div class="number"><i class='fas fa-laptop-house' style='font-size:24px'></i></div>           -->
                <div class="content">
                  <h2>BBA IN LOGISTICS</h2>
                  
                  
                  <p> BBA Logistics & Supply Chain Management is a three-year undergraduate programme that 
                  </p>
                  <p> provides students with 
                    the fundamental knowledge of logistics and supply chain business operations.
                    
                  </p>
                  <p>The programme is structured 
                    institution that is known for its global standing in creating job-ready
                  </p>
                  <p> 
                    professionals of tomorrow.
                    The programme module imparts students with the in-depth understanding
                  </p>
                  <p> of functions and contribution of supply 
                    chain management, the concept of logistics management, 
                  </p>
                  <p> of integrated logistics, the impact 
                    of forecasts on logistics and supply chain management,
                  </p>
                  <p> of the 
                    aviation industry, including pilots, air traffic control, airport and airline management, 
                  </p>
                  
                </div>
              </div>
            </div>
          </li>
          
          <li tabindex="4">
            <div>
              <div class="btn">
                <div class="cc">
                  <h4>CCT</h4>
                </div>
                <!-- <div class="number"><i class='fas fa-laptop-house' style='font-size:24px'></i></div>           -->
                <div class="content">
                  <h2>CABIN CREW TRAING</h2>
                  
                  <p> Working as cabin crew for a major airline is an exciting and challenging experience.
                  </p>
                  <p> In addition to jetting 
                    off to exotic destinations, the job also requires a high
                  </p>
                  <p>
                    degree of responsibility and specialization to ensure 
                    the safety and comfort of passengers in line
                  </p>
                  <p> 
                    with industry regulations. This course is ideal for young 
                    professionals looking to get a head start
                  </p>
                  <p>in the profession, introducing the skills and responsibilities 
                    expected by the world.
                  </p>
                  <p> aircraft 
                    maintenance, aviation business, and more. Careers are available in all fields
                  </p>
                  
                </div>
              </div>
            </div>
          </li>
          
          
          <li tabindex="5">
            <div>
              <div class="btn">
                <div class="cc">
                  <h4>PIL</h4>
                </div>
                <!-- <div class="number"><i class='fas fa-dragon' style='font-size:24px'></i></div>        -->
                <div class="content">
                  <h2>PG IN LOGISTICS</h2>
                  
                  
                  <p>Aviation industry is quiet vast and offers plenty of career options. One can work
                    
                  </p>
                  <p>   as air hostess, 
                    customer care executive, air ticketing professional, aviation administrator,
                  </p>
                  <p>   
                    Airport Manager , 
                    Airline Manager, Ground Handling officer, cargo manager, operation executive,</p>
                    <p> flight steward or 
                      be a part of the cabin crew. Various divisions of the prominent airlines</p>
                      <p> companies like Air India, 
                        Indigo, Air Asia, Vistara etc. hire professionally trained aspirants.</p>
                        <p> opportunities in international airlines like Lufthansa, Emirates, Air 
                          Arabia, Singapore Airlines.</p>
                          
                          
                        </div>
                      </div>
                    </div>
                  </li>
                  <li tabindex="6">
                    <div>
                      <div class="btn">
                        <div class="cc">
                          <h4>PIA</h4>
                        </div>
                        <!-- <div class="number"><i class='fas fa-poll-h' style='font-size:24px'></i></div>        -->
                        <div class="content">
                          <h2>PG IN AVIATION</h2>
                          
                          
                          
                          <p>Aviation industry is quiet vast and offers plenty of career options. One can work
                            
                          </p>
                          <p>   as air hostess, 
                            customer care executive, air ticketing professional, aviation administrator,
                          </p>
                          <p>   
                            Airport Manager , 
                            Airline Manager, Ground Handling officer, cargo manager, operation executive,</p>
                            <p> flight steward or 
                              be a part of the cabin crew. Various divisions of the prominent airlines</p>
                              <p> companies like Air India, 
                                Indigo, Air Asia, Vistara etc. hire professionally trained aspirants.</p>
                                <p> opportunities in international airlines like Lufthansa, Emirates, Air 
                                  Arabia, Singapore Airlines.</p>
                                  
                                  
                                  
                                </div>
                              </div>
                            </div>
                          </li>
                          <li tabindex="7">
                            <div>
                              <div class="btn">
                                <div class="cc">
                                  <h4>SAP</h4>
                                </div>
                                <!-- <div class="number"><i class='fas fa-code' style='font-size:24px'></i></div> -->
                                <div class="content">
                                  <h2>SYSTEM ANALYSIS PROGRAM</h2>
                                  
                                  <p>SAP stands for Systems Applications and Products and was originally aimed to provide</p>
                                  <p>SAP was in fact founded by five IBM employees in 
                                    1972 from Mannheim, Germany.
                                  </p>
                                  <p> pThe SAP certification program today offers more than 150 different certifications. </p>
                                  <p>● Gain a highly recognized, on-demand accreditation of excellence</p> 
                                  <p>● Differentiate yourself in a crowded market
                                  </p>
                                  <p>● Attain higher wages and billable rates with a highly valued credential</p>
                                  
                                  
                                  
                                  
                                </div>
                              </div>
                            </div>
                          </li>   
                        </ul>
                      </div>
                      
                      <!-- <div style="display: none;" id="cs">
                        <h2><i class='fas fa-laptop' style='font-size:24px'></i> Computer Science</h2>
                        <p style="text-align: justify;">Computer science is the study of algorithmic processes and computational machines. As a discipline, computer science spans a range of topics from theoretical studies of algorithms, computation and information to the practical issues of implementing computing systems in hardware and software.<br>
                          Computer Science is the study of computers and computational systems. Unlike electrical and computer engineers, computer scientists deal mostly with software and software systems; this includes their theory, design, development, and application.</p>
                        </div>
                        <div style="display: none;" id="cbs">
                          <h2><i class='fas fa-shield-alt' style='font-size:24px'></i> Cyber Security</h2>
                          <p style="text-align: justify;"> Cyber security is the practice of defending computers, servers, mobile devices, electronic systems, networks, and data from malicious attacks. It's also known as information technology security or electronic information security. <br>
                            Computer security, cybersecurity or information technology security is the protection of computer systems and networks from the theft of or damage to their hardware, software, or electronic data, as well as from the disruption or misdirection of the services they provide.
                          </p>
                        </div>
                        <div style="display: none;" id="eh">
                          <h2><i class='fas fa-theater-masks' style='font-size:24px'></i> Ethical Hacker</h2>
                          <p  style="text-align: justify;"> Ethical Hacking is an authorized practice of bypassing system security to identify potential data breaches and threats in a network. The company that owns the system or network allows Cyber Security engineers to perform such activities in order to test the system’s defenses. Thus, unlike malicious hacking, this process is planned, approved, and more importantly, legal.<br>
                            
                            Ethical hackers aim to investigate the system or network for weak points that malicious hackers can exploit or destroy. They collect and analyze the information to figure out ways to strengthen the security of the system/network/applications. By doing so,  they can improve the security footprint so that it can better withstand attacks or divert them.
                          </p>
                        </div>
                        <div style="display: none;" id="wd">
                          <h2><i class='fas fa-laptop-house' style='font-size:24px'></i> Web Developer</h2>
                          <p  style="text-align: justify;"> A web developer is a programmer who specializes in, or is specifically engaged in, the development of World Wide Web applications using a client–server model. The applications typically use HTML, CSS and JavaScript in the client, PHP, ASP.NET (C#), Python, Go or Java in the server, and http for communications between client and server. <br>A web content management system is often used to develop and maintain web applications.
                          </p>
                        </div>
                        <div style="display: none;" id="pe">
                          <h2><i class='fas fa-dragon' style='font-size:24px'></i> Python Enthusiast</h2>
                          <p  style="text-align: justify;"> Python is an interpreted, high-level and general-purpose programming language. Created by Guido van Rossum and first released in 1991, Python's design philosophy emphasizes code readability with its notable use of significant whitespace. <br>
                            Python is a powerful general-purpose programming language. It is used in web development, data science, creating software prototypes, and so on. Fortunately for beginners, Python has simple easy-to-use syntax. This makes Python an excellent language to learn to program for beginners.
                          </p>
                        </div>
                        <div style="display: none;" id="ml">
                          <h2><i class='fas fa-poll-h' style='font-size:24px'></i> Machine Learning Enthusiast</h2>
                          <p  style="text-align: justify;"> Machine learning is an application of artificial intelligence (AI) that provides systems the ability to automatically learn and improve from experience without being explicitly programmed. Machine learning focuses on the development of computer programs that can access data and use it learn for themselves. <br>
                            Machine learning is the study of computer algorithms that improve automatically through experience. It is seen as a subset of artificial intelligence.
                          </p>
                        </div>
                        <div style="display: none;" id="cl">
                          <h2><i class='fas fa-code' style='font-size:24px'></i> Code Lover</h2>
                          <p  style="text-align: justify;"> Coding is basically the computer language used to develop apps, websites, and software. Without it, we'd have none of the most popular technology we've come to rely on such as Facebook, our smartphones, the browser we choose to view our favorite blogs, or even the blogs themselves. It all runs on code.</p>
                        </div>
                        
                      -->
                      
                      
                    </section>
                    
                    
                    <app-footer></app-footer>
                    
                    
                    