
<nav class="navbar  py-2 gx-0">
  <div class="cont">
    <div class="logo">
      <img src="../../assets/images/header/logo.png" alt="">
    </div>
    <div class="nbn">
      <ul>
        <li>
          <a routerLink="/home">Home</a>
        </li>
        <li>
          <a  routerLink="/about">About</a>
        </li>
        <li>
          <a routerLink="/ourcourses">Our Cources</a>
        </li>
        <li>
          <a href="" >Testimonials</a>
        </li>
        <li>
          <a href="">Our Gallery</a>
        </li>
        <li>
          <a routerLink="/contactus" >Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


