<section id="footer">
  <div class="footer pt-5">
    <div class="container">
      <div class="row gx-0">
        <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-5">
          <div class="footer_section">
            <h4>Links</h4>
            <ul>
              <li><a href="#home">Home</a></li>
              <li><a href="about">About </a></li>
              <li><a routerLink="/ourcourses">Our Courses</a></li>
              <li><a routerLink="/contactus">Contact us</a></li>
              <li><a href="#">Testimonials</a></li>
              <li><a href="#">Gallery</a></li>
              <!-- <li><a href="#">Swag Store</a></li> -->
            </ul>
          </div>
        </div>
        
        <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-5">
          <div class="footer_section">
            <h4>Address</h4>
            <ul>
              <li><a href="#"> No 19,</a></li>
              <li><a href="#">Krishna senate <br> Outer Ring Road (Junction),</a></li>
              <li><a href="#">Marathahalli,</a></li>
              <li><a href="#"> Bangalore 560037.</a></li>
              <li><a href="#" style="color: rgb(201, 145, 41);">Website: <br>
                 www.voyageinternationals.com</a></li> 
              </ul>
            </div>
          </div>
          
          <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-5">
            <div class="footer_section">
              <h4>Guides</h4>
              <ul>
                <li><a href="#">Getting started</a></li>
                <li><a href="#">Starter template</a></li>
                <li><a href="#">Aviation pack</a></li>
                
              </ul>
            </div>
          </div>
          
          <div class="col-12 col-sm-6 col-md-12 col-lg-3 mb-5">
            <div class="row">
              <div
              class="col-sm-12 col-md-6 col-lg-12 footer_section footer_section_contact"
              >
              <h4>Contact Us</h4>
              <div class="search">
                <p> +91 888 441 5142</p>
                <p>+91 859 087 0702</p>
                <p>+91888 428 5552</p>
                <p>+91 740 663 0077</p>
                
                
                
                
                
                
                <form action="#" class="subscribe">
                  <input
                  type="email"
                  class="contact_input"
                  placeholder="E-mail address"
                  />
                  <button type="submit" class="submit_button">
                    <i class="fa fa-paper-plane"></i>
                  </button>
                </form>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-12 social_media">
              <h4>Follow Up</h4>
              <ul>
                <li>
                  <a href=""><i class="fab fa-facebook-f"></i></a>
                </li>
                <li>
                  <a href=""><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                  <a href=""><i class="fab fa-google-plus-g"></i></a>
                </li>
                <li>
                  <a href=""><i class="fab fa-instagram"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


