<app-topheader></app-topheader>
<app-header></app-header>
<!-- <app-about></app-about> -->


<!-- --------------------------------------------------------------------------------------------------- -->

<section id="about">
  <div>
    <h1>ABOUT US</h1>
  </div>
  
  
  <div>
    <svg viewBox="0 0 3387 1270">
      <path id="planePath" class="planePath" d="M-226 626c439,4 636,-213 934,-225 755,-31 602,769 1334,658 562,-86 668,-698 266,-908 -401,-210 -893,189 -632,630 260,441 747,121 1051,91 360,-36 889,179 889,179"/>
      
      <g id="plane">
        <polygon class="fil1" points="-141,-10 199,0 -198,-72 -188,-61 -171,-57 -184,-57 "/>
        <polygon class="fil2" points="199,0 -141,-10 -163,63 -123,9 "/>
        <polygon class="fil3" points="-95,39 -113,32 -123,9 -163,63 -105,53 -108,45 -87,48 -90,45 -103,41 -94,41 "/>
        <path class="fil4" d="M-87 48l-21 -3 3 8 19 -4 -1 -1zm-26 -16l18 7 -2 -1 32 -7 -29 1 11 -4 -24 -1 -16 -18 10 23zm10 9l13 4 -4 -4 -9 0z"/>
        <polygon class="fil1" points="-83,28 -94,32 -65,31 -97,38 -86,49 -67,70 199,0 -123,9 -107,27 "/>
      </g>
      <!-- Define the motion path animation -->
      <animateMotion 
      xlink:href="#plane"
      dur="9s" 
      repeatCount="indefinite" 
      rotate="auto">
      <mpath xlink:href="#planePath" />
    </animateMotion >
  </svg>
</div>

<!-- <div class="ab">
  <h1>ABOUT US</h1>
</div> -->

</section>

<!-- --------------------------------------------------------------------------------------------------- -->



<!-- ---------------------------------------------------------------------------------------------- -->

<section class="about">
  
  <div class="habt">
    <div class="contabt">
      
      <div class="abt2">
        <div class="abt21">
          <div class="abt22">
            <div class="abth">
              <div class="abth1">ABOUT</div>
              <div class="abth2">US</div>
            </div>
            <div class="abl">
            </div>
          </div> 
        </div>
        
        
        <div class="abt3">
          <div class="abtp">
            <p> <b> Voyage</b>  International Varsity of aviation and logistics was established in the year 2019 and is one of India's fastest growing academy in the field of aviation,
              hospitality and logistics management.
              The academy is specialised in providing students with best in class education and job oriented skill training to mould youths into certified professionals based on their field of choice. Voyage is a STED council approved academy which also provides a hundred percent job guarantee after every course. The academy allows students to be trained and groomed under the guidance of best-in-class faculty and industry experts.
              Our students have been placed at a number of reputed companies both in India and abroad.
            </p>
          </div>
        </div>
        
      </div>
      
      
      
      
      <div class="abt1">
        
        <div class="abtimg up-down">
          
          <img src="../../assets/images/home/about/abt.jpg" alt="">
          
        </div>
      </div>
      
    </div>
    
  </div>
  
  
</section>

<!-- ---------------------------------------------------------------------------------------- -->

<section id="prgbr">
  <div class="containerbr">
    <div class="pgrph">
      <div class="brh">
        <div class="brhh">
          <div class="brh1">WHY</div>
          <div class="brh2">CHOOSE  US</div>
        </div>
        <div class="bln"></div>
        
        <div class="brhs">
          Why You Should Choose Us
          
        </div>
      </div>
      <div class="brhp">
        <p>
          We pay particular attention  to  train our students in customer orientation, 
          behavioral skills, customer relations,
          communication and oratory skills and service that enhance both novelty and tradition with a firm commitment to providing the finest service and comfort to passengers yet dependable, and friendly.
        </p>
      </div>
      
      
    </div>
    <div class="pgrbr">
      <div class="pbbrc">
        <div class="p01"><div class="one"> <h1>Infrastructure</h1> <h2>95%</h2></div>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 94%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        
      </div>
      <div class="p01"><div class="one"> <h1>Experienced Faculty</h1> <h2>90%</h2></div>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 90%; " aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      
    </div>
    <div class="p01"><div class="one"> <h1>Placement Assistance</h1> <h2>88%</h2></div>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 88%;" aria-valuenow="92" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    
  </div>
  <div class="p01"><div class="one"> <h1>Internship Training</h1> <h2>75%</h2></div>
  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  
</div>


</div>
</div> 

</div>

</section>



<!-- --------------------------------------------------------------------------------------------- -->
<app-footer></app-footer>
