
<section  id="topheader">
  <mat-toolbar>
   
    <div class="ttp">
      <ul>
        <span><i class="bi bi-envelope-paper-fill"></i> <a href=""> <p style="color: rgb(220 121 73);"> Email: info@voyageinternationals.com</p></a> 
        </span>
        <span>|</span>
        <span> <i class="bi bi-telephone-fill"><p style="float:right;"> +91 888 441 5142</p> </i></span>
      </ul>
    </div>
   
    <div class="tti">
      <ul>
        <span> <i class="bi bi-instagram"></i></span>
        <span><i class="bi bi-meta"></i></span>
        <span><i class="bi bi-linkedin"></i></span>
      </ul>
    </div>
    
  </mat-toolbar>

  
  
</section>
<!-- 

<section  id="df">
  <mat-toolbar>
   
    <div class="ttp">
      <ul>
        <span><i class="bi bi-envelope-paper-fill"></i> <a href=""> <p style="color: rgb(220 121 73);"> Email: info@voyageinternationals.com</p></a> 
        </span>
        <span>|</span>
        <span> <i class="bi bi-telephone-fill"><p style="float:right;"> +91 888 441 5142</p> </i></span>
      </ul>
    </div>
   
    <div class="tti">
      <ul>
        <span> <i class="bi bi-instagram"></i></span>
        <span><i class="bi bi-meta"></i></span>
        <span><i class="bi bi-linkedin"></i></span>
      </ul>
    </div>
    
  </mat-toolbar>
  
  
  
</section> -->
